<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% load static %}
        <link rel="shortcut icon" href="{% static 'validation/img/0.jpg' %}" />
        <link rel= "stylesheet" href="{% static 'validation/css/style.css' %}" >
        <script src= "{% static 'validation/js/me.js' %}" ></script>
        <script>
            $(document).ready(function () {
                $('#who').click(function () { });
                $('#title').css('color','red');
            });
        </script>
    </head>

    <body>
    <div id = "container">

        <form action="" method="post">

            {% csrf_token %}  {#  Don't move me to anywhere otherwise will cause submit error#}

            <h4>Input Errors: </h4><br>
            {% for message in messages %}
                <li> {{ message }} </li>
            {% endfor %}
            <br>
            <br>

        </form>

    </div>
    </body>
  </html>
