        * {
            vertical-align: top;
            font-size: 12px;
        }
        #container {
            width: 600px;
            height: 450px;
            margin: 20px;
            border: 1px solid black;
            padding-left: 20px;
        }
        #leftbox {
            width: 310px;
            height:500px;
            display: inline-block;
            margin-left: 20px;
        }
        #rightbox {
            width: 250px;
            height:500px;
            display: inline-block;
        }
        td {
            width:250px;
            height:15px;
            font-size: 11px;
            line-height: 15px;
        }
        h3 {
            font-size:15px;
        }
        input {
            margin-bottom: 6px;
            width: 250px;
            font-size: 10px;
        }
        button {
            background-color: lightgreen;
            width:60px;
            height:20px;
            font-size:10px;
        }

        .slide {
            width: 450px;
            height:100px;
            margin-top:15px;
            overflow-y:scroll;
        }
}


