
* {
    margin: 0px;
    padding:0px;
    vertical-align: top;
    font-size: 9px;
 }

#container {
    background-color: white;
    width: 445px;
    height: 280px;
    border: 1px solid black;
    margin: 10px;
}

#left{
    background-color: white;
    width: 180px;
    height:260px;
    display: inline-block;
    padding: 10px;
    border-right: 1px solid black
}

#right{
    background-color: white;
    width: 220px;
    height:260px;
    display: inline-block;
    padding: 10px;
}

.bold {
    font-weight: bold;
}

#word {
    margin-left: 25px;
    margin-top:10px
}

#radios {
    width: 60px;
    height: 20px;
    display: block;
    margin-left: 40px;
}

#submit1 {
    width:80px;
    height:18px;
    margin-top: 10px;
    margin-left: 15px;
}

#submit2 {
    width:80px;
    height:18px;
    margin-top: 10px;
    margin-left: 120px;
}

h3 {
    font-size: 12px;
}

input {
    margin-left:20px;
}

p {
    margin: 0px 5px 10px 10px;
}

#checkbox {
    margin-left:5px;
}

#txtbox {
    width: 220px;
    height:215px;
    margin-top:15px;
    overflow-y:scroll;
}

.colortxt {
    width: 60px;
    margin-left: 0px;
    line-height: 15px;
    display: inline-block;
    white-space:nowrap;
    overflow:hidden;
}

.datetxt {
    width: 140px;
    margin-left: 5px;
    line-height: 15px;
    font-size: 9px;
    display: inline-block;
}
