<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
       {% load static %}
        <link rel="shortcut icon" href="{% static 'trip/img/0.jpg' %}" />
        <link rel= "stylesheet" href="{% static 'trip/css/style2.css' %}" >
        <script src= "{% static 'trip/js/me.js' %}" ></script>
        <script>
            function click_post(n1) {
                var route = '/trip/job_add_/' + n1;
                document.getElementById('form').action = route;
                document.getElementById('form').submit();
            }
        </script>
    </head>


    <body> <div id="container"> <form id="form" action="" method="post"> {% csrf_token %}

        <h2 class="title">Welcome {{ request.session.me_name }}</h2> <div class="spacem"></div>
        <button class='row1' onclick="click_post(1)">Back</button> <div class="space3"></div>
        <button class='row1' onclick="click_post(2)">Logout</button><br><br><br>

        <div class="tit">Title</div>
        <input type='text' id="title" name="title" value="{{ request.session.title }}"> <br><br>

        <div class="tit">Description</div>
        <input type='text' id="desc" name="desc" value="{{ request.session.desc }}"><br><br>

        <div class="tit">Location</div>
        <input type='text' id="location" name="location" value="{{ request.session.location }}"><br><br>

        <br><div class="space_add"></div>
        <button onclick="click_post(3)">Submit</button><br><br><br>

        {% for message in messages %}
            <li class="red"> {{ message }} </li>
        {% endfor %}

    </form> </div>


</body>
  </html>
