* {
            margin: 0px;
            padding:0px;
            vertical-align: top;
        }
        .container {
            width: 810px;
            height: 440px;
            margin:5px;
            border: 1px solid black;
            padding-left: 10px;
        }
        .box {
            border: 1px solid black;
            width: 165px;
            display: inline-block;
            margin: 15px;
            text-align: center;
         }

        #record {
            margin-top:10px;
            margin-left:15px;
            width:768px;
            height:150px;
        }

        .btn {
            width:80px;
            height: 30px;
        }