<!DOCTYPE html>
  <html>
    <head>
      <meta charset="utf-8">
      <title></title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% load static %}
        <link rel="shortcut icon" href="{% static 'randword/img/0.jpg' %}" />
        <link rel= "stylesheet" href="{% static 'randword/css/style.css' %}" >
        <script src= "{% static 'randword/js/me.js' %}" ></script>
        <script>
            $(document).ready(function () {

            });
        </script>
    </head>

    <body>
    <div id="container">

        <form action="/randword/index_post" method="post">

            {% csrf_token %}  {#  Don't move me to anywhere otherwise will cause submit error#} <br>

            <br>
            <p id="title">Random word attempt #{{ request.session.post_counter }}<p> <br>

            <br>
			<div id="panel">{{ request.session.word }}</div> <br>

            <br><button type="submit">Generate</button>

        </form>

    </div>
    </body>
  </html>
